<div data-controller="incident-details-component" class="animate-flash-increase">
  <h3 class="mb-0 mt-0"><%= @incident.title %></h3>
  <p class="text-gray-500 -mt-2"><%= @incident.description %></p>
</div>
