<div id="new-incident-form" class="w-1/3">
  <%= new_incident_form %>
</div>

<div class="prose px-4 py-2 w-2/3">
  <h2>Incident list</h2>
  <div id="incidents">
    <%= incidents(@incidents) %>
  </div>
</div>